/bin/
/target/
/WebContent/
/WebContent/images/**
/WebContent/META-INF/
/WebContent/scripts/**/*
/WebContent/style/
/WebContent/WEB-INF/classes/**/*
**/classes/**/*
/WebContent/WEB-INF/defs/**
/WebContent/WEB-INF/layouts/**
/WebContent/WEB-INF/lib/**
/WebContent/WEB-INF/tags/**
/WebContent/WEB-INF/**
.project
.settings
.classpath
/.settings/