#wizard label, input, select, textarea {
	display: block;
	width: 99%;
	color: #000;
}

#readonly input {
	background-color: #F3F3F3;
	border-style: solid;
	border-width: 1px;
	border-color: #D3D3D3;
}

.wizardReadonly {
	background-color: #F3F3F3;
	border-style: solid;
	border-width: 1px;
	border-color: #D3D3D3;
	color: #000;
}

span.requiredField {
	color: #DF0000;
	font-weight: bold;
	font-size: 11px;
}

label.requiredField {
	color: #000000;
	font-weight: bold;
}

.required {
	color: #DF0000;
}

form label {
	float: left;
	width: 20%;
}

form input {
	width: 79%;
}

form select {
	width: 79%;
}

form textarea {
	width: 79%;
}

form div {
	float: left;
	margin: .5em 0;
	width: 100%;
}

table {
	clear: both;
}

#searchCriteriaForm div {
	width: auto;
	margin: 0.2em 0;
}

#pharmacyEditForm input {
	width: 30%;
}

#pharmacyEditForm input[name="activeStartTime"] {
	
}

#pharmacyEditForm select[name="pharmacyEnabledDisabled"],#pharmacyEditForm select[name="twentyFourHourFlag"], #pharmacyEditForm select[name="visn"]
{
	width: 5%;
}

#pharmacyEditForm select[name="specialtyId"] {
	width: 17%;
}

#pharmacyEditForm select[name="serviceLevel"] {
	width: 19%;
}

#pharmacyEditForm select {
	width: 14%;
}

#pharmacyEditForm button {
	float: left;
	margin: 10px 5px 5px 0px;
	width: auto;
}

.pharmEditScreen {
	
}

#pharmacyAddForm input {
	width: 30%;
}

#pharmacyAddForm input[name="activeStartTime"] {
	
}

#pharmacyAddForm select[name="pharmacyEnabledDisabled"],#pharmacyAddForm select[name="twentyFourHourFlag"], #pharmacyAddForm select[name="visn"]
{
	width: 5%;
}

#pharmacyAddForm select[name="specialtyId"] {
	width: 17%;
}

#pharmacyAddForm select[name="serviceLevel"] {
	width: 19%;
}

#pharmacyAddForm select {
	width: 14%;
}

#pharmacyAddForm button {
	float: left;
	margin: 10px 5px 5px 0px;
	width: auto;
}

#pharmacyAddForm label {
	float: left;
	width: 22%;
}

#pharmacyEditForm  label {
	float: left;
	width: 22%;
}

span.pharmacyAddFormReadOnlyField {
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	margin: 0px 0px 0px 2px;
}

span.pharmacyEditFormReadOnlyField {
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	margin: 0px 0px 0px 2px;
}

.trackH1 {
	background-color: #becee0;
	border: 1px solid #d8d8d8;
	color: #003366;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding-top: 1px;
	width: 100%;
	float: left;
}

.trackH2 {
	color: #003366;
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.trackLbl {
	width: 100px;
	float: left;
	font-size: 12px;
	font-weight: bold;
}

.trackDataRight {
	/*width: 1200px;*/
	float: left;
	font-size: 12px;
}

.trackDataLeft {
	/*width: 1000px;*/
	float: left;
	font-size: 12px;
}

.trackDataCenter {
	/*width: 1000px;*/
	float: left;
	font-size: 12px;
}

Container {
	margin-bottom: 5px;
	border-top: 1px solid #000000;
	font-size: 0;
}

.Container .ColumnLbls {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

.Container .Column1 {
	display: inline-block;
	width: 550px;
	vertical-align: top;
}

.Container .Column2 {
	display: inline-block;
	width: 150px;
	vertical-align: top;
}

.Container .Column3 {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

.dijitButton {
	margin: 0.0em;
	padding-left: 8px;
}

.dijitInputField {
	padding: 0px 0px !important;
}

#SomeGrid div {
	margin: 0 !important;
}

#description1SelectLabel {
	
}

.manageusersRemoveBtn {
	float: left;
	position: relative;
	top: 10px;
	left: 640px;
}

.manageusersStationSelectRow {
	float: left;
	position: relative;
	width: 100%;
	height: 60px;
}

.pharmacyManagementVisnSelect {
	float: left;
	width: 13%;
	padding-left: 1px;
	padding-right: 1px;
}

.pharmacyManagementStationIDDiv {
	float: left;
	width: 38%;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	position: relative;
}

label[for=pharmacyFilterFormStationIdSelect] {
	float: left;
	width: 15%;
	padding-left: 2px;
	margin-top: 1px;
}

label[for=pharmacyFilterFormVisnSelect] {
	float: left;
	width: 25%;
	padding-right: 1px;
	padding-left: 30px;
	margin-top: 2px;
}

.pharmacyManagementGrid {
	clear: both;
}

.pharmacyManagementNCPDPIDDiv {
	position: relative;
	padding-left: 1px;
	margin-top: 1px;
}

.pharmacyManagementNCPDPIDInputLabel {
	position: relative;
	float: left;
	width: 9%;
	margin-top: 4px;
}

.pharmacyManagementNCPDPIDInput {
	float: left;
	width: 10%;
	margin-top: 4px;
}

.pharmacyManagementPharmacyNameDiv {
	position: relative;
	padding-left: 1px;
	margin-top: 1px;
}

.pharmacyManagementPharmacyNameInputLabel {
	position: relative;
	float: left;
	width: 9%;
	margin-top: 4px;
}

.pharmacyManagementPharmacyNameInput {
	position: relative;
	float: left;
	width: 25%;
	margin-top: 4px;
}

#searchCriteriaForm select[name="trackauditVisnSelection"] {
	width: 79%;
}

.trackTable {
	display: table;
}

.trackRowGroup {
	display: table-row-group;
}

.trackRow {
	display: table-row;
}

.trackLblRight {
	width: 100px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding-left: 200px;
	min-height: 1px;
}

.trackDataMoreRight {
	width:  355px;
	min-height: 1px;
}