* {
	width: auto;
	border: 0;
	margin-top: 5px;
	float: none !important;
	font-size: 12pt;
	overflow: visible !important;
	border-collapse: collapse;
	font: large;
	font-family: Arial, sans-serif;
}

#header,#footer,#tabMenu {
	display: none !important;
}

a.help {
	display: none;
}

input,select,textarea {
	display: none !important;
}

#container {
	border: none;
}

.displayable {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
		!important;
	filter: alpha(opacity =           100) !important;
}

.buttons,.inputbuttons {
	display: none;
}

.titleBar,.esHeader {
	border: none;
	background-color: #FFF;
	color: #000;
	font-weight: bold;
}

.printable {
	display: block !important;
	width: 90%;
	height: auto;
	margin-right: 1em;
	white-space: pre-wrap !important;
}

.conceptcontainer {
	border: none !important;
}

.attributelabel {
	float: left !important;
	width: 19% !important;
	margin: 0 3px 0 1px !important;
}

.attribute {
	float: right !important;
	width: 75% !important;
	margin: 0 3px 0 1px !important;
}

#skiptomain {
	display: none;
}