.summaryReportTotalsTh {
    background-color: #d9e8f9;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    text-align: left;
}

.summaryReportTotalsTd {
    padding-bottom: 3px;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 3px;
    text-align: left;
    font-weight: bold;
}

